
/* Media query medium viewports */
@media screen and (max-width: 1007px) {

    .register-modal-container {
        display: grid;
        align-self: center;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        grid-column: 4 / 10;
        grid-row: 2 / 11;
        border: var(--border);
        /* row gap / column gap */
        gap: 10px 0;
        z-index: 1;
        background-color: var(--background);
    }

    h3 {
        grid-column: 2 / 9;
    }

    .register-modal-container p {
        grid-column: 2 / 12;
        grid-template-rows: 10px;
    }

    .username, .email, .password, .btn {
        align-items: end;
        grid-column: 2 / 12;
        text-indent: 10px;
    }

    .btn {
        height: 5vh;
    }

    .hr {
        border-bottom: var(--border);
        grid-column: 1 / 13;
        grid-row: 6 / 7;
        align-self: center;
    }

    .register-modal-container span {
        grid-column: 6 / 8;
        grid-row: 6 / 7;
        text-align: center;
        align-self: center;
        background-color: var(--background);
    }

    .register-modal-container p {
        align-self: center;
        justify-self: center;
        margin: 0;
        grid-column: 11 / 13;
        font-size: 4vh;
        font-weight: bold;
    }
    
}

/* Media query small viewports */
@media screen and (max-width: 640px) {


}