:root {
    --text-size: x-large;
    --bgcolor: rgb(0, 5, 160)
  }

  .footerDiv {
      display: flex;
      justify-content: center;
      padding: 3%;
      background-color: var(--bgcolor);
      flex-wrap: nowrap;
      border: black 2px solid;
  }

  .buttonContainer {
    display: flex;
    width: 50%;
    background-color: var(--bgcolor);
    justify-content: start;
  }

  .buttonContainer div {
      width: 50%;
      background-color: var(--bgcolor);
      display: flex;
      align-items: center;
  }

  .buttonContainer div:hover {
    color: white;
  }

  .buttonContainer button {
      border: none;
      background-color: var(--bgcolor);
      color: white;
      margin: 0% 2%;
      font: inherit;
      font-size: var(--text-size);
  }

  .copyright {
      display: flex;
      justify-content: end;
      background-color: var(--bgcolor);
      color: white;
      font-size: var(--text-size);
      width: 50%;
      margin: .3% 0% 0%;
  }

@media only screen and (max-width: 1007px) {

    :root {
        --text-size: large;
      }


    

}


@media only screen and (max-width: 640px) {

    :root {
        --text-size: small;
      }
      
}

